/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* This can be changed to a font of your choice */
  background-color: #ffffff;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}


