@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: transparent;
    transform: translateY(-6%);
  }
  
  .intro-heading {
    font-family: "Poppins", sans-serif;
    font-size: 2.9rem;
    font-weight: 800;
    margin-bottom: 0.1rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;
    white-space: nowrap;
  }

  .rounded {
    font-family: "Quicksand", sans-serif; 
  }
  
  .outline-text {
    color: transparent;
    -webkit-text-stroke: 2px #606887;
  }
  
  .name-highlight {
    position: relative;
    display: inline-block;
    color: #606887;
    z-index: 1;
  }
  
  /* Adjust spacing between stretched letters */
  .name-highlight span {
    margin: 0 2px; /* Fine-tune this value as needed */
  }

  .underline-squiggle {
    position: absolute;
    z-index: 0;  
    left: -10%;         
    bottom: -50%;       
    width: 120%;        
    height: 100px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 8'%3E%3Cpath fill='none' stroke='black' stroke-width='2' d='M0,4 c 10,0,10,-3,20,-3 s 10,3,20,3 c 10,0,10,-3,20,-3 s 10,3,20,3 c 10,0,10,-3,20,-3'/%3E%3C/svg%3E") repeat-x center / auto 100%;
    pointer-events: none;
    opacity: 0.9; 
}

  .intro-subheading {
    font-size: 1.20rem;
    font-weight: 570;
    color: #606887;
    margin-top: 0;
    max-width: 500px;
    font-family: 'Quicksand', serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 0.7rem;
  }

  .intro-links {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    font-family: 'Quicksand', serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.20rem;
    font-weight: 570;
    color: #606887;
  }
  
  .link {
    display: flex;
    color: #606887;
    align-items: center;
    text-decoration: none;
    position: relative; /* Required for ::after positioning */
    overflow: hidden; /* To hide the underline during animation */
    transition: color 0.3s;
  }
  
  .link:hover {
    color: #8D99AE; /* Optional hover effect */
  }
  
  .link::after {
    content: "";
    position: absolute;
    bottom: 0px; 
    left: 0;
    width: 0%; 
    height: 2px; 
    background-color: #606887; 
    transition: width 0.3s ease; 
  }
  
  .link:hover::after {
    width: 100%; 
  }
  
  .arrow {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }  
  
  @-moz-document url-prefix() {
    .outline-text {
      -webkit-text-stroke: 0;
      text-shadow: 
        1px 1px 0 #606887,
        -1px -1px 0 #606887,
        1px -1px 0 #606887,
        -1px 1px 0 #606887,
        1px 0 0 #606887,
        -1px 0 0 #606887,
        0 1px 0 #606887,
        0 -1px 0 #606887;
    }
  }
  