@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: transparent;
    margin-top: -1.3rem;
  }
  
  .intro-heading {
    font-family: "Poppins", sans-serif;
    font-size: 2.9rem;
    font-weight: 800;
    margin-bottom: .05rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    white-space: nowrap;
  }

  .rounded {
    font-family: "Quicksand", sans-serif; 
  }
  
  .outline-text {
    color: transparent;
    -webkit-text-stroke: 2px #606887;
  }
  
  .name-highlight {
    position: relative;
    display: inline-block;
    color: #606887;
    z-index: 1;
  }
  
  .name-highlight span {
    margin: 0 2px; 
  }

  .intro-subheading {
    font-size: 1.20rem;
    font-weight: 570;
    color: #606887;
    line-height: 1.2;
    margin-top: 0;
    max-width: 450px;
    font-family: 'Quicksand', serif;
    font-optical-sizing: auto;
    margin-bottom: 0.5rem;
  }

  .intro-links {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    font-family: 'Quicksand', serif;
    font-optical-sizing: auto;
    font-size: 1.20rem;
    font-weight: 570;
    color: #606887;
  }
  
  .link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    color: #606887;
    padding-bottom: 2px; 
    font-weight: 570;
  }

  .link .text {
    font-size: 1.2rem;
    font-weight: 570;
    color: #606887;
}

  
  .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #606887;
    transition: width 0.4s ease;
    pointer-events: none;
    font-weight: 570; 
  }
  
  .link:hover::after {
    width: 100%;
  }
  
  .link .arrow {
    margin-right: .3rem;
    font-size: 1.2rem;
    display: inline-block; /* Ensures arrow is part of the link flow */
  }  
  
  @-moz-document url-prefix() {
    .outline-text {
      -webkit-text-stroke: 0;
      text-shadow: 
        1px 1px 0 #606887,
        -1px -1px 0 #606887,
        1px -1px 0 #606887,
        -1px 1px 0 #606887,
        1px 0 0 #606887,
        -1px 0 0 #606887,
        0 1px 0 #606887,
        0 -1px 0 #606887;
    }
  }
  